@using Test.ViewModels;
@model RegisterUserViewModel

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Admin</div>
  <div class="card-body">
    <h5 class="card-title">@Model.UserName</h5>
    <p class="card-text">@Model.FirstName</p>
    <p class="card-text">@Model.LastName</p>
    <p class="card-text">@Model.Address</p>
  </div>
</div>
<div class="card bg-dark text-white">
  <img src="~/Images/Student/@Model.ImageUrl" class="card-img" >
  <div class="card-img-overlay">
    <h5 class="card-title">@Model.FirstName</h5>
  </div>
</div>
